<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Kareer</title>
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" href="css/framework7-icons.css">
    <link rel="stylesheet" href="fonts/Framework7Icons-Regular.woff2">
    <link rel="stylesheet" href="iconfont/material-icons.css">
    <link rel="stylesheet" href="iconfont/MaterialIcons-Regular.woff2">
</head>

<body style="background-image: url(img/kareer_bg.png); max-height: 100% device-width background-image">
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <div class="page-content" style="background-image: url(img/kareer_bg.png); max-height: 100%">
                <div class="content-block-title"><img src="img/kareer_logo.png" style="width: 50%;     margin-left: 90px;">
                        <div class="item-content" style="margin-top: 5px">
                            <div class="item-inner">
                                <div class="item-title label" style="color: white; margin-left: 20px">Nationality</div>
                                <div class="item-input">
                                    <select style="width: 300px;height: 30px; margin-left: 20px; border-radius: 5px; ">
                                        <option>Filipino</option>
                                        <option>American</option>
                                        <option>Chinese</option>
                                        <option>Nigerian</option>
                                        <option>British</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="item-content" style="margin-top: 5px">
                            <div class="item-inner">
                                <div class="item-title label" style="color: white; margin-left: 20px ">Preferred specializations</div>
                                <div class="item-input">
                                    <input type="text" name="name" style="width: 297px;margin-left: 20px; height: 22px;    border-radius: 5px;" ">
                                                                       
                                </div>
                            </div>
                        </div>

                    <div class="item-content " style="margin-top: 5px ">
                        <div class="item-inner ">
                           <div class = "item-title label " style="color: white; margin-left: 20px ">Monthly Salary Expectation</div>
                            <div class="item-input ">
                               <select style="width: 70px;height: 29px; margin-left: 20px;border-radius: 5px; ">
                                             
                                             <option>php</option>
                                             <option>dollar</option>

                                <div class="item-content ">
                                    <input type="text " name="number " style="width:217px;margin-left: 10px; height: 22px; border-radius: 5px; " placeholder="00.00 ">
                                </div>
                            </div>
                        </div>   
                                </select>

                         <div class="item-content " style="margin-top: 5px ">
                            <div class="item-inner ">
                                <div class = "item-title label " style="color: white; margin-left: 20px ">Currently Residing in</div>
                                <div class="item-input ">
                                    <select style="width: 140px;height: 29px; margin-left: 20px;border-radius: 5px; ">
                                             <option>Philippines</option>
                                             <option>China</option>
                                             <option>Japan</option>
                                        <div class="item-content " style="margin-top: 5px ">
                                            <input type="text " name="number " style="width:147px;margin-left: 10px; height: 22px; border-radius: 5px; " placeholder="Region ">
                                        </div>
                                    </select>
                                </div>
                            </div>
                        </div>
                                             
                        <div class="item-content " style="margin-top: 5px ">
                            <div class="item-inner ">
                                <div class="item-title label " style="color: white; margin-left: 37px ">Preferred Work Location </div>
                                <div class="item-input ">
                                    <input type="text " name="name " style="width: 297px;margin-left: 36px; height: 22px; border-radius: 5px; "">

                                </div>
                            </div>
                        </div>

                        <div class="item-content" style="margin-top: 5px">
                            <div class="item-inner">
                                <div class="item-title label" style="color: white; margin-left: 37px">Work Since</div>
                                <div class="item-input">
                                    <input type="text" name="name" style="width: 297px;margin-left: 36px; height: 22px;    border-radius: 5px;" placeholder="Your birth date" readonly id="calendar-default">
                                </div>
                            </div>
                        </div>

                        <a href="#" class="button  button-fill button-big color-blue" style="margin-top: 20%; width: 300px; margin-left: 30px; ">Next</a>
                    </div>
            </div>
        </div>
    </div>
</body>
<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="js/framework7.min.js"></script>
<script type="text/javascript" src="js/framework7.js"></script>
<!-- Path to your app js-->
<script type="text/javascript" src="js/my-app.js"></script>

</html>