<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Job Vacancies</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#cmd=index">Home</a>
            </li>
            <li class="active">
                <strong>Job Vacancies</strong>
            </li>
        </ol>
    </div>
</div>
<div class='row col-md-12' style='float: none;'>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-12" id='job-posts'>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Vacancies</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h2>:(</h2><h4>No vacancy</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
administrator.jobposting();
</script>
