<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Applicants</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#cmd=index">Home</a>
            </li>
            <li class="active">
                <strong>Applicants</strong>
            </li>
        </ol>
    </div>
</div>
<div class='row col-md-12'>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Activites</h5>
                    </div>
                    <div class="ibox-content">
                        contents here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
mainProcess.employer_ini();
</script>
