<!DOCTYPE html>
<html>

   <head>
   <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>Kareer</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <!-- Path to your custom icon -->
    <link rel="stylesheet" href="css/framework7-icons.css">
    <link rel="stylesheet" href="fonts/Framework7Icons-Regular.woff2"> 
    <link rel="stylesheet" href="iconfont/material-icons.css">
    <link rel="stylesheet" href="iconfont/MaterialIcons-Regular.woff2"> 
    
   </head>

   <body>
   <div class = "views">
         <div class = "view view-main">
          
              
                  
                     <div class = "navbar">

                     <div class = "navbar-inner" >
                     <a href="#" class=""><i class="icon icon-back "></i></a>
                     <a href="#" class="open-right-panel"><i class="icon icon-bars"> </i></a>
                     </div>
                     </div>
                                     <div class="panel-overlay"></div>
                                       <div class="panel panel-right panel-cover" style="width: 60px; background:lightseagreen ; opacity: .7">
                                              <div class="content-block">
                                          
                                                <p><a href="#" class=""><i class="material-icons">note_add</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">notifications_active</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">file_download</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">bookmark</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">equalizer</i></a></p>
                                               
                                            
                                                <p><a href="#" class=""><i class="material-icons" style="margin-top: 220px">settings</i></a></p>



                                              </div>
                                            </div>

                                                <div class="pages navbar-through">
                                                <div  class="page">
                                          <!-- Scrollable page content -->
                                                <div class="page-content" style="padding-top: 44px">
                                                <div class="content-block" style="margin: 0 0; padding: 0 0px; box-sizing: border-box;">
                                                 
                                                <div class="row">
                                                
                                                <div class="col-100" style="text-align: center"><i class="material-icons" style="font-size: 200px">account_circle</i>
                                                <div style="margin-bottom:80px">Renz Putin</div>
                                                
                                                </div>
                                                </div>
                                                </div>
                                                   

                                                    <!-- Contact Infromation -->
                                                    
                                                      <div class="content-block" style="margin: 0 0; padding: 0 0px; box-sizing: border-box;">
                                                   
                                                 

                                                  
                                                       <div class="row" >
                                                       <div class="col-100">
                                                       <div class="row">
                                                       <div class="col-20">
                                                       <div  style="margin-left: 15px"><i class="material-icons">contact_mail</i></div></div>
                                                       <div class="col-50">
                                                       <div style="font-size: 18px;padding-top: 13px;">Contact Information</div></div>
                                                       <div class="col-30">
                                                       <img src="img/edit.png" style="padding-left: 60px;padding-top: 10px;"></div></div>
                                              
                                                      <div style="padding-left: 80px">
                                                            renzputin@gmail.com</div>

                                                      <div style="padding-left: 80px">
                                                            09092910598</div>


                                                      </div>
                                                      </div>
                                                    
                                                      <div class="content-block" style="margin: 0 0; padding: 0 0px; box-sizing: border-box;">
                                                   
                                                 

                                                  
                                                       <div class="row" >
                                                       <div class="col-100">
                                                       <div class="row">
                                                       <div class="col-20">
                                                       <div  style="margin-left: 15px"><i class="material-icons">work</i></div></div>
                                                       <div class="col-50">
                                                       <div style="font-size: 18px;padding-top: 13px;">Work Experience</div></div>
                                                       <div class="col-30">
                                                       <img src="img/edit.png" style="padding-left: 60px;padding-top: 10px;"></div></div>
                                              
                                                      <div style="padding-left: 80px">
                                                            Sales Manager</div>

                                                      <div style="padding-left: 80px">
                                                            Embalmer</div>
                                                      
                                                      </div>
                                                      </div>


                                                      <div class="content-block" style="margin: 0 0; padding: 0 0px; box-sizing: border-box;">
                                                   
                                                 

                                                  
                                                       <div class="row" >
                                                       <div class="col-100">
                                                       <div class="row">
                                                       <div class="col-20">
                                                      <img src="img/workexp.png"style="margin-left: 15px"></div>
                                                       <div class="col-50">
                                                       <div style="font-size: 18px;padding-top: 13px;">Work Experience</div></div>
                                                       <div class="col-30">
                                                       <img src="img/edit.png" style="padding-left: 60px;padding-top: 10px;"></div></div>
                                              
                                                      <div style="padding-left: 80px">
                                                            Sales Manager</div>

                                                      <div style="padding-left: 80px">
                                                            Embalmer</div>
                                                      
                                                      </div>
                                                      </div>
                                                   
                                                   
                                                   
                                                 
                                                   

                                                     



                                                      

                                                      

                                
   
       
           </div>
    </div>
                     
      
      
     
 
      
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/framework7.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
      
      

   </body>

</html>