<!DOCTYPE html>
<html>

   <head>
   <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>Kareer</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <!-- Path to your custom icon -->
    <link rel="stylesheet" href="css/framework7-icons.css">
    <link rel="stylesheet" href="fonts/Framework7Icons-Regular.woff2"> 
    <link rel="stylesheet" href="iconfont/material-icons.css">
    <link rel="stylesheet" href="iconfont/MaterialIcons-Regular.woff2"> 
    
   </head>

   <body>
   <div class = "views">
         <div class = "view view-main">
          
              
                  
                              <div class = "navbar">


                              <div class = "navbar-inner" >

                               <div class="left">
                               <a href="#" class=""><i class="icon icon-back "></i></a></div>
                               <div class="center"><i class="material-icons" style="font-size: 20px;">notifications_active</i>Notification</div>
                               <div class="right">
                               <a href="#" class="open-right-panel"><i class="icon icon-bars"> </i></a></div>
                    
                               </div>

                               </div>
                                              <div class="panel-overlay"></div>
                                              <div class="panel panel-right panel-cover" style="width: 60px; background:lightseagreen; opacity: .7">
                                              <div class="content-block">
                                          
                                                <p><a href="#" class=""><i class="material-icons">note_add</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">notifications_active</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">file_download</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">bookmark</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons">equalizer</i></a></p>
                                                <p><a href="#" class=""><i class="material-icons" style="margin-top: 220px">settings</i></a></p>
                                              </div>
                                              </div>


                                                <div class="pages navbar-through">

                                                <div  class="page">
                                                
                                                <!-- <form data-search-list = ".list-block-search" data-search-in = ".item-title" 
                                                class = "searchbar searchbar-init">
                                                <div class = "searchbar-input">
                                                
                                                <input type = "search" placeholder = "Search"><a href = "#" 
                                                class = "searchbar-clear"></a>
                                                </div>
                                                <a href = "#" class = "searchbar-cancel">Cancel</a>
                                                </form>
                                                <i class="material-icons">person</i>
                                                <div class = "searchbar-overlay"></div> -->
                                       
                                          <!-- Scrollable page content -->
                                                <div class="page-content">
                                                <div class="row">

                                                 <form data-search-list = ".list-block-search" data-search-in = ".item-title" 
                                                class = "searchbar searchbar-init">
                                                <div class = "searchbar-input">
                                                
                                                <input type = "search" placeholder = "Search"><a href = "#" 
                                                class = "searchbar-clear"></a>

                                                </div>
                                            
                                                     
                                                <div class = "searchbar-overlay"></div>
                                                 <i class="material-icons">person</i>
                                                </form>
                                        
                                                
                                                 <div class="content-block"  style="margin: 0 0; padding: 0 0px; box-sizing: border-box; position: relative;">
                                    
                                                <!-- first layer -->
                                                 <div class="row no-gutter">
                                                 <div class="col-100">
                                                 <div class="row no-gutter"">
                                                 <div class="col-50">
                                                <div class="">From </div>
                                                </div>
                                                <div class="col-50" >
                                                <img src="img/exit.png" style="position: absolute; right: 10px;"> </div>
                                                
                                                <!-- 2nd layer -->
                                                <div class="row" style="margin: auto;">
                                                <div class="col-100" > 
                                                <div class=""><img src="img/nestle.png" ></div>
                                                </div>
                                                </div>
                                                </div>
                                              <!-- 3rd layer -->
                                                <div class="row" >
                                                <div class="col-100"> 
                                                <div class="" style="text-align: center">Good Day Mr. Renz Putin, you  are invited  to an initial interview in the position of Sales Manager on July 20,2017 1:00pm.</div>
                                                </div>
                                                </div>
                                                 <!-- 4th layer -->
                                            
                                                <div class="row">
                                                <div class="col-50" style="font-size: 10px"> 
                                                <div class="">Date Sent: June 29, 2017 </div>
                                                <div class="">Sender:Nestle Philippines,Makati</div></div>  

                                                <div class="col-50" style="font-size: 10px"> 
                                               <div class="button">Accept</div>
                                                 
                                                 </div>
                                                 </div>
                                                 </div>
                                                 </div>

                                                 <div class="content-block"  style="margin: 0 0; padding: 0 0px; box-sizing: border-box; position: relative;">
                                    
                                                <!-- first layer -->
                                                 <div class="row no-gutter">
                                                 <div class="col-100">
                                                 <div class="row no-gutter"">
                                                 <div class="col-50">
                                                <div class="">From </div>
                                                </div>
                                                <div class="col-50" >
                                                <img src="img/exit.png" style="position: absolute; right: 10px;"> </div>
                                                
                                                <!-- 2nd layer -->
                                                <div class="row" style="margin: auto;">
                                                <div class="col-100" > 
                                                <div class=""><img src="img/nestle.png" ></div>
                                                </div>
                                                </div>
                                                </div>
                                              <!-- 3rd layer -->
                                                <div class="row" >
                                                <div class="col-100"> 
                                                <div class="" style="text-align: center">Good Day Mr. Renz Putin, you  are invited  to an initial interview in the position of Sales Manager on July 20,2017 1:00pm.</div>
                                                </div>
                                                </div>
                                                 <!-- 4th layer -->
                                            
                                                <div class="row">
                                                <div class="col-50" style="font-size: 10px"> 
                                                <div class="">Date Sent: June 29, 2017 </div>
                                                <div class="">Sender:Nestle Philippines,Makati</div></div>  

                                                <div class="col-50" style="font-size: 10px"> 
                                               <div class="button">Accept</div>
                                                 
                                                 </div>
                                                 </div>
                                                 </div>
                                                 </div>
                                                
                                                <!-- Next -->


                                                <div class="content-block"  style="margin: 0 0; padding: 0 0px; box-sizing: border-box; position: relative;">
                                    
                                                <!-- first layer -->
                                                 <div class="row no-gutter">
                                                 <div class="col-100">
                                                 <div class="row no-gutter"">
                                                 <div class="col-50">
                                                <div class="">From </div>
                                                </div>
                                                <div class="col-50" >
                                                <img src="img/exit.png" style="position: absolute; right: 10px;"> </div>
                                                
                                                <!-- 2nd layer -->
                                                <div class="row" style="margin: auto;">
                                                <div class="col-100" > 
                                                <div class=""><img src="img/nestle.png" ></div>
                                                </div>
                                                </div>
                                                </div>
                                              <!-- 3rd layer -->
                                                <div class="row" >
                                                <div class="col-100"> 
                                                <div class="" style="text-align: center">Good Day Mr. Renz Putin, you  are invited  to an initial interview in the position of Sales Manager on July 20,2017 1:00pm.</div>
                                                </div>
                                                </div>
                                                 <!-- 4th layer -->
                                            
                                                <div class="row">
                                                <div class="col-50" style="font-size: 10px"> 
                                                <div class="">Date Sent: June 29, 2017 </div>
                                                <div class="">Sender:Nestle Philippines,Makati</div></div>  

                                                <div class="col-50" style="font-size: 10px"> 
                                               <div class="button">Accept</div>
                                                 
                                                 </div>
                                                 </div>
                                                 </div>
                                                 </div>
                                                


                            


                            
                                                


                            
                                              
                                                




                                                  
                                               
                                                 </div>
                                                 </div>
                                                 </div>
                                                 </div>                                               
                                                   

                                                          
                                      
   
    
    </div>
    </div>
                     
      
      
     
 
      
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/framework7.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
      
      

   </body>

</html>