<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Kareer</title>
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" href="css/framework7-icons.css">
    <link rel="stylesheet" href="fonts/Framework7Icons-Regular.woff2">
    <link rel="stylesheet" href="iconfont/material-icons.css">
    <link rel="stylesheet" href="iconfont/MaterialIcons-Regular.woff2">
</head>

<body style="background-image: url(img/kareer_bg.png); max-height: 100% device-width background-image">
    <div class="views">
        <div class="view view-main">
            <div class="page" style="background-image: url(img/kareer_bg.png);">
                <div class="button-row">
                    <img src="img/kareer_logo.png" style="width: 90%;  margin-top: 60%;   margin-left: 30px;">
                    <a href="#" data-popup=".popup-login" class="open-popup button  button-fill button-big color-blue" style="margin-top: 55%; opacity:.5  ">Login</a>
                    <a href="#" data-popup=".popup-sign-up " class="open-popup button  button-fill button-big color-" style="margin-bottom: 5%;background: #4b3d5e; opacity: .7">Sign-up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="popup popup-login ">
        <div class="page-content login-screen-content" style="background: #59b3ad;">
            <div class="login-screen-title close-popup" style="color: white">Login</div>
                <form>
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label"> <i class="material-icons">account_box</i>
                                    </div>
                                    <div class="item-input">
                                        <input type="text" name="username" placeholder="Your username" />
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label"> <i class="material-icons">lock</i> </div>
                                    <div class="item-input">
                                        <input type="password" name="password" placeholder="Your password" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            <div class="content-block">
                                <li><a href="#" class="button  button-fill button-big color-blue">Sign In</a>
                                </li>
                            </div>
                        </ul>
                        <div class="list-block-label">
                            <p>Click Sign In to close Login Screen</p>
                            <img src="img/fb.png" width="30px" />
                            <img src="img/gp.png" width="30px" />
                        </div>
                    </div>
                </form>
        </div>
    </div>

    <div class="popup popup-sign-up">
        <div data-page="login-screen" class="page no-navbar no-toolbar no-swipeback">
            <div class="page-content login-screen-content" "=" " style="background: #463b5d; ">
                <div class="login-screen-title close-popup " style="color: white ">Sign Up</div>
                <form>
                    <div class="list-block ">
                        <ul>
                          <li class="item-content ">
                            <div class="item-inner ">
                              <div class="item-title label "style="color: white ">Name:</div>
                              <div class="item-input ">
                                <input type="text " name="name "/>
                              </div>
                            </div>
                          </li>

                    <li class="item-content ">
                        <div class="item-inner ">
                          <div class="item-title label " style="color: white ">Address:</div>
                            <div class="item-input ">
                                <input type="text " name="address "/>
                            </div>
                        </div>
                    </li>
                 
                <li class="item-content ">
                    <div class="item-inner ">
                      <div class="item-title label "style="color: white ">Contact No:</div>
                      <div class="item-input ">
                        <input type="text " name="number "/>
                      </div>
                    </div>
                  </li>
                  <li class="item-content ">
                    <div class="item-inner ">
                      <div class="item-title label "style="color: white ">Email:</div>
                      <div class="item-input ">
                        <input type="email " name="email "/>
                      </div>
                    </div>
                  </li>
                
             
              
              <div class="content-block ">
                
                  <li><a href="# " class="item-link button button-fill button-big color-white " style="color:#463b5d " ><B>Sign In</a></li>
                
                <div class="list-block-label ">
             
                  <p>Click Sign In to close Login Screen</p>
                 
                   <img src="img/fb.png " width="30px "/> </a>

                   <img src="img/gp.png " width="30px "/> </a>
                </div>
              </div>
            </form>
                                                          </div>
                                                        </div>   
                                                     </div>
<script type="text/javascript " src="js/framework7.min.js "></script>
<script type="text/javascript " src="js/framework7.js "></script>
<script type="text/javascript " src="js/my-app.js "></script>
</body>
</html>