<div class="swiper-custom">
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper" id="jobs">
            <div class="swiper-slide">
				<div class="card demo-card-header-pic red">
					<div class="card-header color-white no-border" valign="bottom" style="background-image:url(../img/kareer_bg.png); height: 100px;">
						RNR Digital Consultancy
					</div>
					<div class="card-content">
						<div class="card-content-inner">
							<p class="color-gray">is in need of:</p>
							<h2>Call Service Representatives</h2>
							<p>
								<div>
									<strong>We are looking for hard working individuals who would like to be part of our fast growing team!! &nbsp;&nbsp;</strong><strong>Immediate hiring!&nbsp;</strong>
								</div>
							</p>
						</div>
					</div>
					<div class="card-footer">
						<a class="link ripple" href="#">X</a>
						<a class="link ripple" href="#">Apply</a>
						<a class="link ripple" href="#">Read More</a>
					</div>
				</div>
            </div>
            <div class="swiper-slide">
				<div class="card demo-card-header-pic">
					<div class="card-header color-white no-border" valign="bottom" style="background-image:url(../img/kareer_bg.png); height: 100px;">
						RNR Digital Consultancy
					</div>
					<div class="card-content">
						<div class="card-content-inner">
							<p class="color-gray">is in need of:</p>
							<h2>Call Service Representatives</h2>
							<p>
								<div>
									<strong>We are looking for hard working individuals who would like to be part of our fast growing team!! &nbsp;&nbsp;</strong><strong>Immediate hiring!&nbsp;</strong>
								</div>
							</p>
						</div>
					</div>
					<div class="card-footer">
						<a class="link ripple" href="#">X</a>
						<a class="link ripple" href="#">Apply</a>
						<a class="link ripple" href="#">Read More</a>
					</div>
				</div>
            </div>
            <div class="swiper-slide swiper-slide-prev">
				<div class="card demo-card-header-pic red">
					<div class="card-header color-white no-border" valign="bottom" style="background-image:url(../img/kareer_bg.png); height: 100px;">
						RNR Digital Consultancy
					</div>
					<div class="card-content">
						<div class="card-content-inner">
							<p class="color-gray">is in need of:</p>
							<h2>Call Service Representatives</h2>
							<p>
								<div>
									<strong>We are looking for hard working individuals who would like to be part of our fast growing team!! &nbsp;&nbsp;</strong><strong>Immediate hiring!&nbsp;</strong>
								</div>
							</p>
						</div>
					</div>
					<div class="card-footer">
						<a class="link ripple" href="#">X</a>
						<a class="link ripple" href="#">Apply</a>
						<a class="link ripple" href="#">Read More</a>
					</div>
				</div>
            </div>
            <div class="swiper-slide swiper-slide-active">
				<div class="card demo-card-header-pic">
					<div class="card-header color-white no-border" valign="bottom" style="background-image:url(../img/kareer_bg.png); height: 100px;">
						RNR Digital Consultancy
					</div>
					<div class="card-content">
						<div class="card-content-inner">
							<p class="color-gray">is in need of:</p>
							<h2>Call Service Representatives</h2>
							<p>
								<div>
									<strong>We are looking for hard working individuals who would like to be part of our fast growing team!! &nbsp;&nbsp;</strong><strong>Immediate hiring!&nbsp;</strong>
								</div>
							</p>
						</div>
					</div>
					<div class="card-footer">
						<a class="link ripple" href="#">X</a>
						<a class="link ripple" href="#">Apply</a>
						<a class="link ripple" href="#">Read More</a>
					</div>
				</div>
            </div>
            <div class="swiper-slide swiper-slide-next">
				<div class="card demo-card-header-pic">
					<div class="card-header color-white no-border" valign="bottom" style="background-image:url(../img/kareer_bg.png); height: 100px;">
						RNR Digital Consultancy
					</div>
					<div class="card-content">
						<div class="card-content-inner">
							<p class="color-gray">is in need of:</p>
							<h2>Call Service Representatives</h2>
							<div>
								<strong>We are looking for hard working individuals who would like to be part of our fast growing team!! &nbsp;&nbsp;</strong><strong>Immediate hiring!&nbsp;</strong>
							</div>
							<div>
								<div>
									This position is for CSR- outbound appointment setting for USA based customers.
								</div>
								<div>
									Sample tasks include:
								</div>
								<ul>
									<li>Calling customers and booking them for an appointment</li>
									<li>Updating database</li>
									<li>Answering customer inquiries</li>
									<li>Advising customers if there are any service changes</li>
								</ul>
							</div>								
						</div>
					</div>
					<div class="card-footer">
						<a class="link ripple" href="#">X</a>
						<a class="link ripple" href="#">Apply</a>
						<a class="link ripple" href="#">Read More</a>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var documentHeight = $(window).height();
    $("#jobs .card-content").attr({"style":"height:"+(documentHeight-220)+"px; overflow:hidden; text-overflow: ellipsis;"});

</script>