DirectoryIndex index.html

<IfModule mod_php5.c>
	php_value post_max_size 5M
	php_value upload_max_filesize 5M
	php_value memory_limit 128M
	php_value max_execution_time 259200
	php_value max_input_time 300
	php_value session.gc_maxlifetime 1200
</IfModule>

<Files .htaccess>
	order allow,deny
	deny from all
</Files>